@model int

@{
    ViewData["Title"] = "Order Confirmation";
}


<div class="order-confirmation-container">
    <h2>Order Confirmation</h2>

    <p>Thank you for your purchase! Your order number is <b>@Model</b>.</p>
    <p> You can  <button onclick="downloadInvoice(12345)">Download Your Invoice</button>.</p>
</div>
    <p>Did you know? You can earn <b>$10 cashback</b> by inviting your friends to shop with us! Share your referral code now.</p>
    
</div>


