@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout) && parentLayout !=  null)
    {
        Layout = parentLayout.ToString();
    }
    else
    {
        Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    }
}
<h1 style="text-decoration-color:Gray; text-align:center">Account Settings</h1>

<div class="container mt-4">
    <!-- Main Wrapper -->
    <hr />
    <div class="row">
        <!-- Left Sidebar Navigation -->
        <div class="col-md-3">
            <partial name="_ManageNav" />
        </div>

        <!-- Right Content Area -->
        <div class="col-md-9">
            @RenderBody()
        </div>
    </div>
</div>
<style>

</style>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
