@model ECommerceApp.Models.Category

<form method="post">
    <div>
        <h2>Delete Category</h2>
    </div>
    <input asp-for="Id" hidden />
    <div>
        <label asp-for="Name" class="p-0"></label>
        <input asp-for="Name"  class="form-control" />

    </div>
    <div>
        <label asp-for="Description"></label>
        <input asp-for="Description"  class="form-control" />
        <span asp-validation-for="Description"></span>
    </div>

    <div class="row">
        <div class="col-6">
            <button type="submit" class="btn btn-primary form-control">Delete</button>
        </div>
        <div class="col-6">
            <a asp-controller="Category" asp-action="Index" class="btn btn-dark">Back To List</a>
        </div>
    </div>
</form>
